.viewContent {
}
.viewItem {
    box-sizing: border-box;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
     position: absolute; 
     top: 0;
    &:hover{
        background-color: #fffbf0;
    }
    .viewItemLi{
        position: relative;
        display: inline-block;
        height: 100%;
        border: 1px solid #e8e8e8;
        border-top-color: transparent;
        border-right-color: transparent;
        word-break:keep-all;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        padding: 3px 16px;
    }
}
